.Rproj.user/
.quarto/
_site/
.Rhistory
.RData
.DS_Store

/.quarto/
**/*.quarto_ipynb
apr3044/data/nyc_collisions_2025_q1_clean.csv
data/Motor_Vehicle_Collisions_-_Crashes_20260914.csv
apr3044/data/nyc_collisions_2025_q1_clean.csv
data/Motor_Vehicle_Collisions_-_Crashes_20260914.csv
